# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/

# Data (HUGE) - keep locally
data/*.parquet
data/*.csv
data/*.zip

# Outputs (generated)
outputs/*.html
outputs/*.geojson
outputs/*.json
outputs/*.csv

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
